# import the dataset

In [17]:
import pandas as pd
import numpy as np

df = pd.read_csv('advertising.csv')
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

# check the missing data

In [18]:
df.isnull().sum()

Daily Time Spent on Site    0
Age                         0
Area Income                 0
Daily Internet Usage        0
Ad Topic Line               0
City                        0
Male                        0
Country                     0
Timestamp                   0
Clicked on Ad               0
dtype: int64

# Encoding

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   object
 9   Clicked on Ad             1000 non-null   int64
dtypes: float64(3), int64(3), object(4)
memory usage: 62.6+ KB

In [20]:
from sklearn import preprocessing
label = preprocessing.LabelEncoder()

df['Ad Topic Line'] = label.fit_transform(df['Ad Topic Line'])
df['City'] = label.fit_transform(df['City'])
df['Country'] = label.fit_transform(df['Country'])
df['Ad Topic Line'] = label.fit_transform(df['Timestamp'])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   int32
 5   City                      1000 non-null   int32
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   int32
 8   Timestamp                 1000 non-null   object
 9   Clicked on Ad             1000 non-null   int64
dtypes: float64(3), int32(3), int64(3), object(1)
memory usage: 62.6+ KB

In [22]:
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,439,961,0,215,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,474,903,1,147,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,367,111,0,184,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,56,939,1,103,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,767,805,0,96,2016-06-03 03:36:18,0

In [23]:
df.drop('Timestamp', axis=1, inplace=True)

# Train test split

In [24]:
x = df.drop('Clicked on Ad', axis=1)
y = df['Clicked on Ad']

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.30)

# Logistic regression

In [25]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(x_train,y_train)

d:\python 3.8\lib\site-packages\sklearn\linear_model\_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [26]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix,accuracy_score

predictions = model.predict(x_test)
print(classification_report(y_test, predictions))
print(confusion_matrix(y_test, predictions))
print(accuracy_score(y_test, predictions))

              precision    recall  f1-score   support

           0       0.94      0.90      0.92       166
           1       0.89      0.93      0.91       134

    accuracy                           0.92       300
   macro avg       0.91      0.92      0.92       300
weighted avg       0.92      0.92      0.92       300

[[150  16]
 [  9 125]]
0.9166666666666666

# Support vector machine

In [27]:
from sklearn.svm import SVC 
model_2 = SVC() 
  
model_2.fit(x, y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [28]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix,accuracy_score

predictions_2 = model_2.predict(x_test)
print(classification_report(y_test, predictions_2))
print(confusion_matrix(y_test, predictions_2))
print(accuracy_score(y_test, predictions_2))

              precision    recall  f1-score   support

           0       0.72      0.89      0.80       166
           1       0.81      0.57      0.67       134

    accuracy                           0.75       300
   macro avg       0.77      0.73      0.74       300
weighted avg       0.76      0.75      0.74       300

[[148  18]
 [ 57  77]]
0.75